<div class="col-xs-7 col-xs-offset-2">
  <!-- 以下フラッシュメッセージ-->
  <% if flash[:notice] %>
    <p><%= flash[:notice] %></p>
  <% end %>
  <!-- フラッシュメッセージここまで-->

  <%= render 'layouts/post_list', photos: @photos %><!--投稿一覧の部分テンプレート-->
</div>

<div class="col-xs-3">
  <%= form_with model:@photo, url: sort_path, method: :get, local: true do |f| %>
    <%= f.select :selection, [ ['投稿が新しい順', 'new'],
                            ['投稿が古い順', 'old'],
                            ['いいねが多い順', 'many_favorites'],
                            ['いいねが少ない順', 'little_favorites'],
                          ] %>
    <%= f.submit "ソートする" %>
  <% end %>
</div>

<div class="to-top">
  <a href="#">
    <span class="glyphicon glyphicon-chevron-up" style="font-size: 40px" aria-hidden="true"></span>
  </a>
</div>