<!DOCTYPE html>
<html>
  <head>
    <title>PhotoNote</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %><!--ヘッダーの部分テンプレート-->
    <div class="container">
      <%= yield %>
      <div class="col-xs-1"></div><!--右の余白生成用タグ-->
    </div>
    <div class="footer">
      <p class="footer-text">© 2020 Tkmt-U </p>
    </div>
  </body>
</html>
